.service{
    width: 100%;
    min-height: 100vh;
    padding: 100px 0;

    .title{
        h2{
            color: var(--white);
            font-size: 4.6875rem;   //75px
            width: 70.625rem;       //1130px
            margin: 1.875rem auto;  //30
            text-align: center;
        }
    }

    .box{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 400px;

        .card{
            min-height: 365px;
            width: 335px;
            padding: 20px 35px;
            background-color: var(--black-500);
            border-radius: 20px;
            margin: 15px;
            text-align: center;

            i{
                font-size: 50px;
                display: block;
                text-align: center;
                margin: 25px 0px;
                color: var(--magenta);
            }

            h5{
                font-size: 23px;
                margin-bottom: 15px;
            }

            .pra p{
                color: var(--magenta-100);
                font-size: 16px;
                line-height: 27px;
                margin-bottom: 25px;
            }

            .button{
                background-color: var(--magenta);
                color: var(--white);
                text-decoration: none;
                border: 2px solid transparent;
                font-weight: bold;
                padding: 9px 22px;
                border-radius: 30px;
                transition: .4s;
            }

            .button:hover{
                background-color: transparent;
                border: 0.125rem solid var(--magenta);  //2px
                cursor: pointer;
            }
        }
    }
}